/* LoginPage.css */
.login-container1 {
}

/* Optional: Add an overlay to improve form readability */
.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Dark overlay with 40% opacity */
  z-index: -1;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../assets/background_imresizer.jpg"); /* Replace with your image path */
}

.content-area {
  flex: 1;
  position: relative;
}

h2 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}
