.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.content-area {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  background-image: url("../assets/background_imresizer.jpg");
}

h2 {
  margin: 20px 0 20px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: #ff6200;
}

.footer5 {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.success-popup {
  position: fixed;
  top: 80px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s, fadeOut 0.5s 2.5s;
}
