.employeeCard-container {
  width: 1050px;
  padding: 10px;
  background-color: #b4ab9e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  justify-self: center;
  border-radius: 25px;
  background: radial-gradient(transparent, rgb(255, 162, 0));
}

.footer6 {
  margin-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
