footer {
  background-color: #ff8c00 !important;
}
.main-container {
  display: flex;
  justify-content: space-between;
}

.garpic {
  width: 200px;
}

div {
  text-align: center;
}

.custom-a {
  color: #000000;
}
