.card {
  border-radius: 25px;
  max-height: 18cm;
}
.pic-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  height: 300px;
  overflow: hidden;
}

.sub-card {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.img-container {
  width: 300px;
  height: 260px;
}

.img-container.visa {
  padding: 0.5cm;
  height: 300px;
}

.img-container.mastercard {
  padding: 0.5cm;
  height: 225px;
}

.img-container.paypal {
  padding: 0.5cm;
  width: 500px;
  height: 575px;
}

.img-container:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

h1 {
  font-weight: bold;
  margin: 10px 0;
}

.text {
  margin: 50px;
  text-align: left;
}
