.payment-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url("../assets/background_imresizer.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
